{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Cart
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/my-cart.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        {% if not cart_products %}
            <div class="text-center mt-5">
                <h3> Your cart is empty </h3>
            </div>
        {% endif %}

        <!-- Display all products in cart -->
        <div class="row mb-5">
            {% for product in cart_products %}
                <div class="col-md-3 col-lg-3">
                    <div class="card mt-4">
                        <form action="{% url 'remove-from-cart' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.product_id }}">
                            <button class="btn remove-product-button" type="submit">X</button>
                        </form>

                        <div class="card-body">
                            <a href="{% url 'details-product' pk=product.product_id %}">
                                <img class="card-img-top rounded" src="{{ product.product.product_image.url }}"
                                     alt="{{ product.product.name }}">
                            </a>
                            <div class="d-flex justify-content-between">
                                <div class="mt-3">
                                    <h4 class="fw-bolder card-title product-title">{{ product.product.name }}</h4>
                                    <p>{{ product.product.description }}</p>
                                    <p>Quantity: <b>{{ product.quantity }}</b></p>
                                </div>
                                <div class="price-position">
                                    <h4>{{ product.product.price }}лв.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="d-flex flex-column mb-3">
            {% include 'partials/modal-user-checkout.html' %}
            <div class="mb-2 text-end">
                <h3>Total Price: <span class="fw-bolder">
                    {% if total_price %}
                        {{ total_price }} лв.
                    {% else %}
                        0 лв.
                    {% endif %}
                </span>
                </h3>
            </div>
            <div class="mb-2 text-end">
                <h3>Products: <span class="fw-bolder">{{ total_count }} бр.</span></h3>
            </div>
            <div class="text-end mt-3">
                <button class="btn btn-primary align-items-center" data-toggle="modal" data-target="#paymentModal"
                        {% if not user.profile.first_name or not user.profile.last_name or not user.profile.address or cart_products.count < 1 %}
                        disabled {% endif %}>
                    {% if cart_products.count < 1 %}
                        <span class="help-text">Please add products first</span>
                    {% elif not user.profile.first_name or not user.profile.last_name or not user.profile.address %}
                        <span class="help-text">Please complete your profile information to proceed</span>
                    {% else %}
                        Proceed to Checkout
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}