{% extends 'base.html' %}
{% load static %}

{% block title %}
    Salon Details
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/salon-details.css' %}">
{% endblock %}


{% block content %}
    <div class="container-xxl content-wrapper salon-details-page">
        <div class="col-md-5 col-lg-8 d-flex justify-content-center">
            <div class="card mt-3">
                <div class="card-header">
                    <h2>Salon Details</h2>
                </div>
                <div class="card-body">

                    <div class="row mt-1">
                        <div class="col-lg-4 order-lg-1 card-content">
                            <div class="mt-4">
                                <img src="{{ object.logo.url }}" alt="Profile Picture" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 order-lg-2">
                            <div class="salon-details">
                                <div class="mt-4">
                                    <p><strong>Appointments: </strong></p>
                                    <ul>
                                        {% for appointment in object.appointment_set.all %}
                                            <li>{{ appointment.date|date:"d.m.Y" }} г.</li>
                                            <p class="border-bottom border-width"></p>
                                        {% empty %}
                                            No Appointments
                                        {% endfor %}
                                    </ul>
                                </div>
                                <p class="mt-4"><strong>Salon Name:</strong> {{ object.name }}</p>
                                {% if object.description %}
                                    <p class="mt-4"><strong>Description:</strong> {{ object.description }}</p>
                                {% endif %}
                                <p class="mt-4"><strong>City:</strong> {{ object.city }}</p>
                                <p class="mt-4"><strong>Mobile:</strong> {{ object.phone_number }}</p>
                                <p class="mt-4"><strong>Address:</strong> {{ object.address }}</p>
                                <p class="mt-4"><strong>Salon add date:</strong> {{ object.date_added|date:'d.m.Y' }} г.
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="text-center mb-3 mt-1">
                            <button id="appointmentBtn" class="btn btn-primary" data-toggle="modal"
                                    data-target="#appointmentModal">Make Appointment
                            </button>
                        </div>
                    {% else %}
                        <div class="text-center mb-3 mt-1">
                            <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary"
                            >Make Appointment
                            </a>
                        </div>
                    {% endif %}

                    {% include 'partials/appointment-modal.html' %}

                    {% if request.user.pk == object.user_id %}
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-lg button-edit"
                               href="{% url 'salon-edit' pk=object.pk %}">Edit</a>
                            <a class="btn btn-lg button-delete"
                               href="{% url 'salon-delete' pk=object.pk %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

