{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Salon
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/add-salon.css' %}">
{% endblock %}


{% block content %}
    <div class="container-xxl content-wrapper add-salon-page">
        <div class="col-lg-6 col-md-9 d-flex justify-content-center">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h2>Salon Create</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'salon-create' %}" method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ form.as_p }}
                        <button class="btn btn-lg button-save" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}