{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-white.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>


    {# Base CSS#}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% block style %}

    {% endblock %}

</head>
<body>

<!-- Navbar -->
{% include 'partials/navbar.html' %}
<!-- / Navbar-->
{% block content %}

{% endblock %}


<!-- Footer -->
{% include 'partials/footer.html' %}
<!-- / Footer-->

<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Page Scripts -->

{% block script %}

{% endblock %}
<!-- / Page Scripts -->
</body>
</html>