{% extends 'base.html' %}
{% load static %}

{% block title %}
    Account Details
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/account-details.css' %}">
{% endblock %}

{% block content %}
    <div class="container-xxl content-wrapper account-details-page">
        <div class="d-flex justify-content-center">
            <div class="card mt-3 ">
                <div class="card-header">
                    <h2>Account Details</h2>
                </div>
                <div class="card-body">
                    <div class="profile-info">
                        {% if object.profile_picture %}
                            <div class="ml-2">
                                <img src="{{ object.profile_picture.url }}" alt="Profile Picture">
                            </div>
                        {% else %}
                            <div class="ml-2">
                                <img src="{% static 'images/anonymous-user.png' %}" alt="Profile Picture">
                            </div>
                        {% endif %}
                        <div class="profile-details">
                            {% if object.first_name %}
                                <p class="mt-4"><strong>First Name:</strong> {{ object.first_name }}</p>
                            {% endif %}
                            {% if object.last_name %}
                                <p class="mt-4"><strong>Last Name:</strong> {{ object.last_name }}</p>
                            {% endif %}
                            <p class="mt-4"><strong>Email:</strong> {{ object.user.email }}</p>
                            {% if object.user.owned_salons.all %}
                                <p><strong>Your Salons:</strong></p>
                                <ul>
                                    {% for salon in object.user.owned_salons.all %}
                                        <li><a class="btn salon-details"
                                               href="{% url 'salon-details' pk=salon.pk %}">{{ salon.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {#                        <p><strong>Total Orders:</strong>  TODO </p>#}
                            {#                        <p><strong>Total Money Spent:</strong> TODO </p> #}
                            {% if object.date_of_birth %}
                                <p class="mt-4"><strong>Date of birth:</strong> {{ object.date_of_birth|date:'d.m.Y' }}
                                    г.
                                </p>
                            {% endif %}
                            <p class="mt-4"><strong>Account
                                Registered:</strong> {{ object.user.date_joined|date:'d.m.Y' }}
                                г.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly ml-4">
                        <a class="btn btn-lg button-edit"
                           href="{% url 'profile-edit' pk=object.user.pk %}">Edit</a>
                        <a class="btn btn-lg button-delete"
                           href="{% url 'profile-delete' pk=object.user.pk %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}